<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>

<form th:method="POST" th:action="@{/people/create}" th:object="${person}">
    <label for="firstName">Введите Имя: </label>
    <input th:type="text" th:field="*{firstName}" id="firstName"/>
    <br>
    <label for="surname">Введите Отчество: </label>
    <input th:type="text" th:field="*{surname}" id="surname"/>
    <br>
    <label for="patronymic">Введите Фамилию: </label>
    <input th:type="text" th:field="*{patronymic}" id="patronymic"/>
    <br>
    <label for="city">Введите индекс и название города: </label>
    <input th:type="text" th:field="*{addressDTO.city}" id="city"/>


    <div id="MyAddress">
        <label>Выбирите название улицы: </label>
        <select th:field="*{addressDTO.streetDTO.id}">
            <option th:each="strDTO : ${street}"
                    th:text="${strDTO.streetName}"
                    th:value="${strDTO.id}">
            </option>
        </select>
    </div>

    <label for="buildingNumber">Введите номер дома: </label>
    <input th:type="text" th:field="*{addressDTO.buildingNumber}" id="buildingNumber"/>
    <br>
    <div class="myPhones">
        <label for="phone">Введите номер телефона: </label>
        <div th:each="phoneDTO.number, itemStat : *{phonesDTO}" id="phone">
            <input th:field="*{phonesDTO[__${itemStat.index}__].number}"/>
            <label for="phoneType">Тип телефона</label>
            <select id="phoneType" required>
                <option th:each="phTypeDTO : ${phoneTypes}"
                        th:text="${phTypeDTO.typeName}"
                        th:value="${phTypeDTO.id}"
                        th:selected="${phoneDTO.phoneTypeDTO.id == phTypeDTO.id}">
                </option>
            </select>
        </div>
    </div>
    <div id="phones-container"></div>
    <br>
    <input type="button" value="Добавить телефон" id="add_phone"/>
    <br>
    <input type="submit" value="Создать!"/>
</form>
<script>
    $(document).ready(()=>{
        var types = [];
        $.get("/type/list", (data, status) => {
            types = data;
        });
        $("#add_phone").click(()=> {
            let childrenCount = $("#phones-container div").length
            let index = childrenCount === 0 ? 0 : childrenCount;
            console.log(types);
            console.log(index);
            let phoneTag = `<div>
                    <input name="phonesDTO[${index}].number" type="text"/>
                    <label for="phoneType">Тип телефона</label>
                    <select id="phoneType" name="phones[${index}].phoneType" required>
                        ${types.map((e,idx)=> `<option value=${e.id}>${e.typeName}</option>`)}
                    </select>

                </div>`;

            $("#phones-container").append(phoneTag);
        });
    });
</script>
</body>
</html>